<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">

<html lang="en">

<head>
    <title>{% block title %}{% endblock %}</title>
    <style>
    header, footer {padding:1em;color:white;background-color:black;clear:left;text-align:center;}
    p,h2,h3,h4,hr,a,form,li{max-width:800px;margin-left:200px;}
    body{border: 20px solid gray;background: #ffffff
    }
    </style>
</head>
<body>
    <header ><h1>Restaurant Recommendation and Analysis</h1></header>
    <hr />
    <form action="/homepage/" method="get" >
        <input type="submit" value="Go back to homepage" style="font-size:large;">
    </form>
    <h2 style="background-color:#81848a">Projects</h2>
    <hr />
    <h3 >CS 591 b1 Project</h3>
    {% block content %}{% endblock %}

    {% block footer %}
    <hr>
    <footer>Thanks for visiting!</footer>
    {% endblock %}
</body>
</html>