<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<body>
<h1 style="text-align:center;background-color:#665f80">Smile!</h1>
<hr />
<p style="text-align:center;color:red;font-size:20px;">Hello!Hello!Hello!Hello!Hello!Hello!Hello!Hello!Hello!Hello!Hello!Hello!Hello!Hello!Hello!Hello!Hello!Hello!Hello!Hello!Hello!Hello!Hello!Hello!Hello!Hello!Hello!Hello!</p>
<p style="text-align:left;color:red;font-size:20px;">Hello!Hello!Hello!Hello!Hello!Hello!Hello!</p>
<p style="text-align:right;color:red;font-size:20px;">Hello!Hello!Hello!Hello!Hello!Hello!Hello!</p>
<p style="text-align:center;color:red;font-size:20px;">Hello!Hello!Hello!Hello!Hello!Hello!Hello!</p>
<p style="text-align:left;color:red;font-size:20px;">Hello!Hello!Hello!Hello!Hello!Hello!Hello!</p>
<p style="text-align:right;color:red;font-size:20px;">Hello!Hello!Hello!Hello!Hello!Hello!Hello!</p>
<p style="text-align:center;color:red;font-size:20px;">Hello!Hello!Hello!Hello!Hello!Hello!Hello!</p>
<p style="text-align:left;color:red;font-size:20px;">Hello!Hello!Hello!Hello!Hello!Hello!Hello!</p>
<p style="text-align:right;color:red;font-size:20px;">Hello!Hello!Hello!Hello!Hello!Hello!Hello!</p>
<p style="text-align:center;color:red;font-size:20px;">Hello!Hello!Hello!Hello!Hello!Hello!Hello!</p>
<p style="text-align:left;color:red;font-size:20px;">Hello!Hello!Hello!Hello!Hello!Hello!Hello!</p>
<p style="text-align:right;color:red;font-size:20px;">Hello!Hello!Hello!Hello!Hello!Hello!Hello!</p>
<p style="text-align:center;color:red;font-size:20px;">Hello!Hello!Hello!Hello!Hello!Hello!Hello!</p>
<p style="text-align:left;color:red;font-size:20px;">Hello!Hello!Hello!Hello!Hello!Hello!Hello!</p>
<p style="text-align:right;color:red;font-size:20px;">Hello!Hello!Hello!Hello!Hello!Hello!Hello!</p>
<p style="text-align:center;color:red;font-size:20px;">Hello!Hello!Hello!Hello!Hello!Hello!Hello!Hello!Hello!Hello!Hello!Hello!Hello!Hello!Hello!Hello!Hello!Hello!Hello!Hello!Hello!Hello!Hello!Hello!Hello!Hello!Hello!Hello!</p>

</body>
</html>