{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <h4>Yelp Recommendation and Analysis</h4>
    <p>For new user, find the top restaurants in your city:</p>
    <form action="/search/" method="get">
        <fieldset>
        <legend>Input your City:</legend>
        {% if error2 %}
            <p style="color: red;">Please submit a search term.</p>
        {% endif %}
        <input type="text" name="q">
        <input type="submit" value="Search">
        </fieldset>
    </form>

    <p>For existing user, we could do the recommendation for you:</p>
    <p>If you cannot remember your Yelp ID, </p>
    <form action="/find/" method="get">
        <fieldset>
        <legend>Input your Name:</legend>
        {% if error1 %}
            <p style="color: red;">Please submit a search term.</p>
        {% endif %}
        <input type="text" name="name">
        <input type="submit" value="Find">
        {% if not_find %}
            <p>Cannot find your info</p>
        {% endif %}
        {% if get_id %}
            <p>We find the following info:</p>
            {% for i in get_id %}
                <p>ID: {{ i.user_id }}---Name:{{ i.name }}---#of Reviews:{{ i.review_count }}</p>
            {% endfor %}
        {% endif %}
        </fieldset>
    </form>
    <form action="/recommend/" method="get">
        <fieldset>
        <legend>Input your ID:</legend>
        {% if error3 %}
            <p style="color: red;">Please input valid info.</p>
        {% endif %}
        <input type="text" name="p">
        <input type="submit" value="Recommend">
        <p>###############data for test:###############</p>
        <p>id: 7TFE0Qf0K9aj0jAXdSO43w (with 672 reviews)</p>
        <p>id: UIPXzqRj5kCb7N_Q28Pseg (with 129 reviews)</p>
        <p>id: gNvL9VNJWlPiGDM664iPCw (with 56 reviews)</p>
        <p>id: zZACoxO7XbmuSWgBgbyBmQ (with 5 review )</p>
        </fieldset>
    </form>


{% endblock %}
