<!DOCTYPE html>
<html lang="en">
<head>
    <style>
    header, footer {padding:1em;color:white;background-color:black;clear:left;text-align:center;}
    p,h2,h3,h4,hr,a,form{max-width:800px;margin-left:200px;}
    body{border: 20px solid gray;background: #ffffff
    }
    </style>
    <meta charset="UTF-8">
    <title>Homepage</title>
</head>
<body>
{#<h1 style="text-align:center;background-color:rgb(183, 186, 195)">My XX Website</h1>#}
<header><h1>My Website</h1></header>
<hr/>
<a href='/hello/' style="color:red;font-size:20px;">Hello!</a>
<img src="/static/images/bu.jpg" alt="Boston University" width="220" height="220" style="float: right;margin-right: 50px; " >
<h2 style="background-color:#81848a">Projects</h2>
<hr />
<h3 >CS 591 b1 Project</h3>
<h4>Yelp Recommendation and Analysis------<a href='/project/' style="margin-left:0;">Visit</a></h4>
<p>Recommendation System in social networks  is quite popular and useful for everyone.</p>
<img src="/static/images/sysu.jpg" alt="SYSU" width="220" height="220" style="float: right;margin-right: 50px; " >
<p>The website could provide restaurant recommendations, </p>
<p>also some investigation and analysis of the restaurants we recommend base on Yelp Dataset.</p>
<h3 >CS 673 Project</h3>
<h4>Project management tool(3blueprints.com)-------<a href=http://www.3blueprints.com style="margin-left:0;">Visit</a></h4>
<p>Redesign the Requirement Tracker which is similar to Pivotal Tracker</p>
<h2 style="background-color:#81848a">Personal Info</h2>
<hr>
<p>Coming Soon...</p>
<h2 style="background-color:#81848a">Something Interesting</h2>
<hr>
<p>Coming Soon...</p>
<hr>
<h2 style="background-color:#81848a">Anything Else?</h2>
<hr>
<p>Coming Soon...</p>
<hr>
<footer>Thanks for visiting! ------ Minteng</footer>
</body>
</html>