{% extends "base591.html" %}

{% block title %}Search City{% endblock %}

{% block content %}
    <p>You searched for: <strong>{{ query }}</strong></p>
    {% if Restaurant %}
        <p>We find {{ Restaurant|length }} Restaurant{{ Restaurant|pluralize }},</p>
        <p>The following are top {{ popular|length }} popular restaurants in {{ query }}:</p>
        <ul>
            {% for r in popular %}
                <li>{{ r.name }}</li>
                {% endfor %}
        </ul>
    {% else %}
        <p>No Restaurant matched your search criteria.</p>
        <p>Do you want the following city?</p>
        <ul>
            {% for c in City %}
                <li>{{ c.city }}</li>
                {% endfor %}
        </ul>
        <form action="/search/" method="get">
        <fieldset>
        <legend>Input your City:</legend>
        {% if error %}
            <p style="color: red;">Please submit a search term.</p>
        {% endif %}
        <input type="text" name="q">
        <input type="submit" value="Search">
        </fieldset>
        </form>
    {% endif %}
{% endblock %}